.wrapp {
    margin: 16px;
}

.loading {
    margin: 24px 0;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

.form {
    width: 40%;
    position: relative;

    .spinner {
        position: absolute;
        top: 50%;
        left: 40%;
    }

    mat-form-field {
        display: block;

    }

    button {
        width: 100%;
    }
}

.header {
    margin-bottom: 2em;
}

#no-photo {
    border: 2px solid transparent;
}

.photo {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #3f51b5;
    margin: 10px 0;
}

ul.tags {
    padding-inline-start: 0;

    li {
        list-style: none;
    }
}