<!-- <pre>
{{ response$ | async | json }}
</pre> -->

<!-- <div *ngIf="response$ | async as res">
    <ul>
        <li *ngFor="let food of res.data">{{food.name}}</li>
    </ul>
    {{res.length | json}}
</div> -->

<div class="wrapp">

    <div class="mat-typography">
        <h1>Dodaj produkt</h1>
    </div>

    <div [formGroup]="foodForm" class="foodForm">
        <div *ngIf="postInLoading$ | async" class="spinner">
            <mat-spinner></mat-spinner>
        </div>
        <mat-form-field hintLabel="Max. 20 znaków">
            <mat-label>Nazwa</mat-label>
            <input matInput #input maxlength="20" placeholder="np. jabłko" formControlName="name">
            <mat-hint align="end">{{input.value.length}}/20</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput placeholder="np. 123" formControlName="id">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Waga</mat-label>
            <input matInput placeholder="np. 100" formControlName="weight">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kalorie na 100g</mat-label>
            <input matInput placeholder="np. 32" formControlName="caloriesPer100g">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nutri Score</mat-label>
            <input matInput placeholder="np. A" formControlName="nutriScore">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tagi</mat-label>
            <input matInput placeholder="np. tag" formControlName="tags">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Zdjęcie</mat-label>
            <input matInput placeholder="np. http://link.jpg" formControlName="photo">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSubmit()">Dodaj</button>
    </div>

    <div *ngIf="loading$ | async" class="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div *ngIf="deleteInProgress$ | async" class="spinner">
        <mat-spinner></mat-spinner>
    </div>
    <table *ngIf="response$ | async as res" mat-table [dataSource]="res.data">
        <ng-container matColumnDef="actionsColumn">
            <th mat-header-cell *matHeaderCellDef> Akcje </th>
            <td mat-cell *matCellDef="let el">
                <button mat-stroked-button color="warn" (click)="onDeleteFood(el.id)">
                    Remove
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="caloriesPer100g">
            <th mat-header-cell *matHeaderCellDef> Kalorie na 100g </th>
            <td mat-cell *matCellDef="let el"> {{el.caloriesPer100g}} </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let el"> {{el.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let el"> {{el.name}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
</div>