<div mat-dialog-title>
    <button mat-icon-button class="button-close" aria-label="close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
    <h2>{{inputData.title}}</h2>
</div>
<!-- <pre>
    {{foodForm.value | json}}
</pre> -->
<mat-dialog-content>
    <div [formGroup]="foodForm" class="form foodForm">
        <div *ngIf="postInLoading$ | async" class="spinner">
            <mat-spinner></mat-spinner>
        </div>
        <mat-form-field>
            <mat-label>Nazwa</mat-label>
            <input matInput placeholder="np. jabłko" formControlName="name" [readonly]="inputData.readonly">
            <mat-error *ngIf="foodForm.invalid">Min. 3 znaki.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Waga</mat-label>
            <input matInput placeholder="np. 100" formControlName="weight" [readonly]="inputData.readonly">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kalorie na 100g</mat-label>
            <input matInput placeholder="np. 32" formControlName="caloriesPer100g" [readonly]="inputData.readonly">
            <mat-error *ngIf="foodForm.invalid">Wyłącznie cyfry.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nutri Score</mat-label>
            <mat-select formControlName="nutriScore">
                <mat-option *ngFor="let score of nutriScoreOptions" [value]="score">{{score}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="foodForm.invalid">Pole obowiązkowe.</mat-error>
        </mat-form-field>

        <!-- <mat-form-field>
            <mat-label>Tagi</mat-label>
            <mat-select formControlName="tags" multiple>
                <mat-option *ngFor="let tag of tagsArray" [value]="tag">{{tag}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
        <mat-form-field>
            <mat-label>Tags</mat-label>
            <mat-chip-grid #chipGrid>
                <mat-chip-row *ngFor="let tag of savedTags" (removed)="remove(tag)">
                    {{(tag | tagsToName) | async }}
                    <button matChipRemove [attr.aria-label]="'remove ' + tag" title="'remove ' + tag">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl" [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)" />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits$ | async" [value]="fruit">
                    {{fruit}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Zdjęcie</mat-label>
            <input matInput placeholder="np. http://link.jpg" formControlName="photo">
            <!-- <img *ngif="inputData.editMode" src="{{imageSrc}}" /> -->
            <img src="{{imageSrc}}" width="100%" />
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="inputData.showActions">
    <div *ngIf="inputData.editMode; then updateFood else addFood"></div>
    <ng-template #addFood>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="foodForm.invalid">Zapisz</button>
    </ng-template>
    <ng-template #updateFood>
        <button mat-raised-button color="primary" (click)="onUpdate()">Zapisz zmiany</button>
    </ng-template>
</mat-dialog-actions>