<div mat-dialog-title>
    <button mat-icon-button class="button-close" aria-label="close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
    <h2>Dodaj produkt</h2>
</div>
<mat-dialog-content>
    <!-- dodać komunikatry o błędach w formularzu (Mat Error) -->
    <div [formGroup]="foodForm" class="form foodForm">
        <div *ngIf="postInLoading$ | async" class="spinner">
            <mat-spinner></mat-spinner>
        </div>
        <mat-form-field hintLabel="Max. 20 znaków">
            <mat-label>Nazwa</mat-label>
            <input matInput maxlength="20" placeholder="np. jabłko" formControlName="name">
            <mat-hint align="end">{{name!.value!.length}}/20</mat-hint>
            <!-- tu mat error -->
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput placeholder="np. 123" formControlName="id">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Waga</mat-label>
            <input matInput placeholder="np. 100" formControlName="weight">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kalorie na 100g</mat-label>
            <input matInput placeholder="np. 32" formControlName="caloriesPer100g">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nutri Score</mat-label>
            <input matInput placeholder="np. A" formControlName="nutriScore">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tagi</mat-label>
            <input matInput placeholder="np. tag" formControlName="tags">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Zdjęcie</mat-label>
            <input matInput placeholder="np. http://link.jpg" formControlName="photo">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSubmit()">Dodaj</button>
    </div>
</mat-dialog-content>