<div class="wrap">
    <div class="header">
        <h1>{{pageTitle}}</h1>
        <h2>{{pageSubtitle}}</h2>
        <mat-divider></mat-divider>
    </div>
    <h3>Uzupełnij swój dziennik diety</h3>
    <div [formGroup]="diaryForm" class="form">
        <h4>Wybierdz dzień z kalendarza</h4>
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <h4>Wybierz posiłek</h4>
        <mat-form-field>
            <mat-label>Posiłek</mat-label>
            <mat-select formControlName="mealTypes">
                <mat-option *ngFor="let meal of mealTypes" [value]="meal">{{meal}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="diaryForm.invalid">Pole obowiązkowe.</mat-error>
        </mat-form-field>
        <h4>Wybierz produkt</h4>
        <mat-form-field *ngIf="responseFoods$ | async as res">
            <mat-label>Dostępne produkty</mat-label>
            <mat-select formControlName="foodInDiary">
                <mat-option *ngFor="let food of res.data" [value]="food.id">{{food.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="">Pole obowiązkowe.</mat-error>
        </mat-form-field>
        <h4>Podaj jego wagę w gramach</h4>
        <mat-form-field>
            <mat-label>Waga w gramach (g)</mat-label>
            <input matInput formControlName="weight">
        </mat-form-field>
        <!-- <div>
            <button mat-fab extended color="primary" (click)="openDialog()">
                <mat-icon>add_circle_outline</mat-icon>
                Dodaj produkty
            </button>
        </div> -->


    </div>
    <pre>
        {{diaryForm.value | json}}
    </pre>
</div>