.wrap {
    padding: 16px;
}

.header {
    margin-bottom: 2rem;
    ;
}

.foodForm {
    mat-form-field {
        padding-right: 1rem;
    }
}

.no-data-box,
mat-divider {
    margin: 16px;
}

.delete-entry-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}