<div class="wrapper">
    <div class="header">
        <h1>{{pageTitle}}</h1>
        <h3>{{pageSubtitle}}</h3>
        <mat-divider></mat-divider>
    </div>
    <div class="center-container">
        <div class="centered-content form-wrapper">
            <div [formGroup]="loginForm" class="form">
                <mat-form-field>
                    <mat-label>User name</mat-label>
                    <input matInput formControlName="userName">
                </mat-form-field>
                <mat-form-field *ngIf="!isLoginMode">
                    <mat-label>E-mail</mat-label>
                    <input type="email" matInput formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <button mat-fab extended color="primary" type="submit" [disabled]="loginForm.invalid">{{isLoginMode ?
                    'Login' : "Create user"}}</button>
                <mat-divider></mat-divider>
                <ng-container *ngIf="isLoginMode">
                    <h2>No account? Create one:</h2>
                    <button mat-fab extended color="primary" type="button" (click)="onSwitchMode()">Register</button>
                </ng-container>
                <ng-container *ngIf="!isLoginMode">
                    <h2>Already have an account?</h2>
                    <button mat-fab extended color="primary" type="button" (click)="onSwitchMode()">Login</button>
                </ng-container>
            </div>
        </div>
    </div>
</div>