.score {
    &_A {
        background-color: #048041;
    }

    &_B {
        background-color: #85BB2F;
    }

    &_C {
        background-color: #FFCD00;
    }

    &_D {
        background-color: #F28101;
    }

    &_E {
        background-color: #E73F12;
    }

    color: #fff;
    border-radius: 23px;
    width: 40px;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin: 8px 0;
}