<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSlidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/foods']" *ngIf="isAuthenticated$ | async">Food</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/diary']" *ngIf="isAuthenticated$ | async">Diary</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a *ngIf="isLoggedIn$ | async" [routerLink]="['/login']">Logout</a>
                <a *ngIf="!(isLoggedIn$ | async)" [routerLink]="['/login']">Login</a>
            </li> 
            <li *ngIf="!(isLoggedIn$ | async)" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/register']">Register</a>
            </li>
        </ul>
    </div>
</mat-toolbar>