<mat-dialog-content>
    <ng-container [formGroup]="form">
        <div class="form-container">
            <h4>Wybierz produkt</h4>
            <mat-form-field *ngIf="responseFoods$ | async as res">
                <mat-label>Dostępne produkty</mat-label>
                <mat-select formControlName="food">
                    <mat-option *ngFor="let food of res.data" [value]="food.id">{{food.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="">Pole obowiązkowe.</mat-error>
            </mat-form-field>
            <h4>Podaj jego wagę w gramach</h4>
            <mat-form-field>
                <mat-label>Waga w gramach (g)</mat-label>
                <input matInput formControlName="weight">
            </mat-form-field>
        </div>
    </ng-container>
</mat-dialog-content>